<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rechnung</title>
    <link rel="stylesheet" href="style.css" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <h1>Rechnung</h1>
      <div id="company" class="clearfix">
          $date</br></br>
          $address_header
      </div>
      <div id="project">
          <br/></br>
          <div><span>KUNDE</span> $name</div>
          <div><span>ADRESSE</span> $address_line1</div>
          <div><span> </span> $address_line2</div>
          <div><span> </span> $address_line3</div>
          <div><span>RECHNUNGSNR</span> $invoice_number</div>
          <div><span>ZEITRAUM</span> $billing_period</div>
          <div><span>FÄLLIG AM</span> $due_date</div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">SERVICE</th>
            <th class="desc">BESCHREIBUNG</th>
            <th>RATE</th>
            <th>STUNDEN</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="service">$description_short</td>
            <td class="desc">$description_long</td>
            <td class="unit">$hourly_rate</td>
            <td class="qty">$total_hours</td>
            <td class="total">$net_total</td>
          </tr>
          <tr>
            <td colspan="4">STEUER $tax_rate%</td>
            <td class="total">$tax</td>
          </tr>
          <tr>
            <td colspan="4" class="grand total">TOTAL</td>
            <td class="grand total">$grand_total</td>
          </tr>
        </tbody>
      </table>
      <div id="notices">
        <div class="notice">
            <p>$notice</p>
        </div>
      </div>
    </main>
    <p style="page-break-after:always;"></p>

    <h3>Stunden pro Aufgabe:</h3>
    <dl class="barchart">
        $bar_chart_rows
    </dl>

    <h3>Time log:</h3>
    <table>
        <tr>
            <th>START</th><th>END</th><th>DURATION</th><th>DESCRIPTION</th>
        </tr>
            $fact_rows
    </table>
  </body>
</html>
