import os
import textwrap

import holidays


base_dir = os.path.dirname(__file__)
# HAMSTER_DB = "sqlite:////home/foo/.local/share/hamster-applet/hamster.db"
HAMSTER_DB = "sqlite:////home/foo/safe/local/hamster.db"
BILL_TEMPLATE = os.path.join(base_dir, "./template/index_de.html")
ACTIVITY_ROW_TEMPLATE = "<tr><td>$start</td><td>$end</td><td>$duration</td><td>$description</td></tr>"
BAR_CHART_ROW_TEMPLATE = '<dd style="width: ${width}%;">$label</dd>'
TIMEDELTA_DUE_DATE = 14
LOCALE = "de_DE.utf8"  # leave empty for system default
HOLIDAYS = holidays.Germany(prov="BY")
WORKDAY_HOURS = 8  # hours considered a full work day
SAVE_HTML = True

CUSTOMER = {
    "__common__": {  # common attributes for all customer
        "hourly_rate": 10,
        "tax_rate": 19,
        "notice": textwrap.dedent("""Bank information:</br>
                                  John Doe</br>
                                  IBAN: DE203045766403457896633</br>
                                  BIC/SwiftCode: DGTADEFD431</br>
                                  Foo Bank</br>
                                  """),
    },

    "CompanyA": {  # customer specific details
        "name": "Company A Corp",
        "hourly_rate": 5,
        "output_folder": "/home/foo/bills/CompanyA/",
        "address_line1": "1337 Foo St",
        "address_line2": "Bar 344",
        "address_line3": "PDR of Baz",
        "description_short": "Development",
        "description_long": "Python backend coding + HTML templating",
    }

}

HEADER = """
John Doe</br>
Web Development</br>
Terrence Hill St. 14</br>
45356 Chicago</br>
Email: jim@foobar.net</br>
Mobil: +32 122 5467 0773</br>
"""
